@model IEnumerable<TaskList.Models.TodoTask>
@*@model PagedList.IPagedList<TaskList.Models.TodoTask>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lists.ListName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.completed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lists.ListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.completed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TodoTaskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TodoTaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TodoTaskID })
        </td>
    </tr>
}

</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new {
        page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter
    }))*@