@model IEnumerable<TaskList.Models.List>
@*@model TaskList.Models.List
    @using PagedList.Mvc;
@using PagedList;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "Lists";
}

<h2>Lists Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
           @Html.ActionLink("List Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>List Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ListName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ListID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ListID })
        </td>
    </tr>
}

</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new {
            page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter
        }))*@