@*@model IEnumerable<TaskList.Models.List>*@
@model PagedList.IPagedList<TaskList.Models.List>
@using PagedList.Mvc;

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lists";
}

<h2>Lists Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-hover">
    <tr>
        <th>
           @Html.ActionLink("List Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr data-toggle="collapse" data-target="#accordion" class="clickable">
        <td>
            @Html.DisplayFor(modelItem => item.ListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ListID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ListID })
        </td>
    </tr>
}   
</table>
Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount
   
@Html.PagedListPager(Model, page => Url.Action("Index",
        new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


